<% in_active_group = @movie_imdb_ids.include?(search_movie.imdbID) %>
<% cache [ search_movie.imdbID, in_active_group ] do %>
  <div id="<%= search_movie.imdbID %>" class='grid grid-cols-3 gap-4 border-black border-solid'>
    <% if proper_url?(search_movie.Poster) %>
      <%= image_tag(search_movie.Poster, size: 150, class: 'my-5') %>
    <% else %>
      <%= image_tag("blank", size: 150, class: 'my-5') %>
    <% end %>

    <div>
      <p class="my-3">
        <strong class="block font-medium mb-1">In collection:</strong>
        <% if in_active_group %>
          <div class='w-4 h-auto'>
            <%= svg 'check_box' %>
          </div>
        <% else %>
          No
        <% end %>
      </p>

      <p class="my-3">
        <strong class="block font-medium mb-1">Title:</strong>
        <%= search_movie.Title %>
      </p>

      <p class="my-3">
        <strong class="block font-medium mb-1">Year:</strong>
        <%= search_movie.Year %>
      </p>

      <p class="my-3">
        <strong class="block font-medium mb-1">Type:</strong>
        <%= search_movie.Type %>
      </p>
    </div>

    <div class='flex items-center justify-center'>
      <% unless in_active_group %>
        <%= button_to('Add to active group', add_movie_path(search_movie.imdbID), params: { search: @term, anchor: search_movie.imdbID  },
          class: 'text-white right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2'
        ) %>
      <% else %>
        <%= button_to('Remove from active group', remove_movie_path(search_movie.imdbID), params: { search: @term, anchor: search_movie.imdbID  },
          class: 'text-white right-2.5 bottom-2.5 bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-4 py-2'
        ) %>
      <% end %>
    </div>
  </div>
  <hr class="my-12 h-0.5 border-t-2 bg-neutral-600 opacity-100" />
<% end %>
